* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    line-height: 1.6;
    background: #f9f9f9;
    color: #333;
}

/* Navbar */
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;   
}

.logo {
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
}

.nav-links li {
    list-style: none;
    padding-right: 55px;
}

.nav-links li a {
    color: #fff;
}

.hero {
    background-color: rgb(86, 86, 168);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    font-size: 50px;
    color: #fff;
}